:root {
  --bs-primary: #63b175;
  --bs-secondary: #ffffff;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #4E9359;
}

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #4E9359;
  border-color: #4E9359;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #4E9359;
  border-color: #4E9359;
}

.btn-outline-primary {
  color: #63b175;
  border-color: #63b175;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 .25rem rgba(99,177,117,0.5);
}

.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #fff;
  background-color: #c133b2;
  border-color: #b630a7;
  box-shadow: 0 0 0 .25rem rgba(78,147,89,0.5);
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btn-primary {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

